html {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    color: black;
}

head {
    height: 0%;
}

.hide {
    display: none;
}

body {
    font-family: "Boogaloo", cursive;
    display: grid;
    grid-template-rows: 11% 20% 10% 22% 10% 10% 10%;
    grid-row-gap: 3%;
    grid-column-gap: 3%;
}

textarea {
    font-family: "Boogaloo", cursive;
    font-size: 220%;
}

.error {
    color: red;
    font-size: 2%;
    font-family: "Boogaloo", cursive;
}

.addButton {
    height: 180%;
    width: 12%;
    font-family: "Boogaloo", cursive;

}

select {
    font-family: "Boogaloo", cursive;

}

.showButton {
    height: 180%;
    width: 12%;
    font-family: "Boogaloo", cursive;
}

.outputDisplay {
    
}

.numberPlate {
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    margin: 0%;
    text-transform: uppercase; 
    background: yellow;
}

.regList {
    float: left;
}

.row1 {
    font-size: 220%;
    margin: 1%;
    text-align: center;
}

.row2 {
    margin: 1%;
    text-align: center;
}

.row3 {
    margin: 1%;
    text-align: center;
}

.row4 {
    margin: 1%;
    text-align: center;
    border: 2% solid black;
    border-radius: 12px;

}

.row5 {
    margin: 1%;
    text-align: left;
    float: left;
    height: 270%;
}

.row6 {
    margin: 1%;
    text-align: center;
}

.row7 {
    margin: 1%;
    text-align: center;
}

.row6a {
    font-family: "Boogaloo", cursive;
}

