html {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    color: black;
    font-size: 120%;
    background: url(../cape8.jpg) center;
}

head {
    height: 0%;
}

.hide {
    display: none;
}

body {
    font-family: 'Rye', cursive;
    display: grid;
    grid-template-rows: 70px 70px 80px 80px 80px 80px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

textarea {
    font-family: 'Rye', cursive;
    font-size: 35px;
}

/* .error {
    color: red;
    font-size: 2%;
    font-famiBoogaloo", cursive;
} */

.addButton {
    height: 40px;
    width: 150px;
    font-family: 'Rye', cursive;
    margin-right: 2%;
}

.resetButton {
    height: 40px;
    width: 150px;
    font-family: 'Rye', cursive;
}

select {
    font-family: 'Rye', cursive;

}

.showButton {
    height: 40px;
    width: 150px;
    font-family: 'Rye', cursive;
}

.numberPlate {
    text-align: center;
    color: black;
    border: 2px solid black;
    border-radius: 6px;
    width: 150px; 
    list-style :none;
    margin: 0%;
    font-family: 'Rye', cursive;
    text-transform: uppercase; 
    background: yellow;
    float: left;
    margin: 5px 5px 5px 5px;
    flex-wrap: wrap;
}

.regList {
    float: right;
    color: crimson;
    font-family: "Rye", cursive;

}

.row1 {
    font-size: 220%;
    margin: 1%;
    text-align: center;
}

.row2 {
    margin: 1%;
    text-align: center;
}

.row3 {
    margin: 1%;
    text-align: center;
    align-content: center;
}
/* 
.row5 {
    margin: 1%;
    text-align: left;
    flex-wrap: wrap;
    height: 270%;
} */

.row6 {
    margin: 1%;
    text-align: center;
}

.row7 {
    margin: 1%;
    text-align: center;
}

.row6a {
    font-family: 'Rye', cursive;
}

footer {
    padding: 0%;
    border: 0%;
    margin-top: 130px;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    float: inline-end;
    font-size: 80%;
    text-align: center;
    color: black;
}